@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap");

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: 0;
    color: black;
    background-color: #F6F6F6;
}

header {
    width: 100%;
    height: 70px;
    margin-top: 0;
    background-color: white;
}

.logo {
    display: flex;
    justify-content: center;
}

header img {
    height: 36px;
    padding-top: 21px;
}

.arrow {
    position: relative;
    left: 20px;
    bottom: 30px
}

.fa-arrow-left {
   color: #353535; 
   font-size: 1rem;
}

/* Image + titre avec coeur */

main {
    background-color: #F6F6F6; 
}

.img-restau img {
    width: 100%;
    object-fit: cover;
    height: 232px;
}

/* Titre du restaurant */

.titre-restau {
    position: relative;
    border-radius: 40px 40px 0 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    top: -50px;
    background-color: #F6F6F6;
    align-items: center;
    padding-right: 25px;
}

.titre-restau h1 {
    font-family: "Shrikhand", cursive;
    font-size: 1.5rem;
    margin: 31px 0 36px 0;
}

/* Heart */

.heart {
    font-size: 20px;
}

.titre-restau .heart .fa-solid {
    display: none;
}

.titre-restau .heart:hover .fa-solid {
    cursor: pointer;
    animation: effet-opacity 1.5s ease;
    background: linear-gradient(#9356dc 20%, #ff79da 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.heart:hover >.fa-solid {
    display: block;
}

.heart:hover >.fa-regular {
    display: none;
}



