@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap");

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: 0;
    color: black;
    background-color: #F6F6F6;
}

header {
    width: 100%;
    height: 70px;
    margin-top: 0;
    background-color: white;
}

.logo {
    display: flex;
    justify-content: center;
}

header img {
    height: 36px;
    padding-top: 21px;
}

.arrow {
    position: relative;
    left: 20px;
    bottom: 30px
}

.fa-arrow-left {
   color: #353535; 
   font-size: 1rem;
}

/* Image + titre avec coeur */

main {
    background-color: #F6F6F6; 
}

.img-restau img {
    width: 100%;
    object-fit: cover;
    height: 232px;
}

/* Titre du restaurant */

.titre-restau {
    position: relative;
    border-radius: 40px 40px 0 0;
    display: flex;
    justify-content: space-between;
    top: -50px;
    background-color: #F6F6F6;
    align-items: center;
    padding: 32px 25px 0 20px;
    margin: 0 0 -40 0;
}

.titre-restau h1 {
    font-family: "Shrikhand", cursive;
    font-size: 1.5rem;
    margin: 0;
}

/* Heart */

.heart {
    font-size: 22px;
    margin-top: -8px;
    padding-right: 11px;
}

.titre-restau .heart .fa-solid {
    display: none;
}

.titre-restau .heart:hover .fa-solid {
    cursor: pointer;
    animation: effet-opacity 1.5s ease;
    background: linear-gradient(#9356dc 20%, #ff79da 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.heart:hover >.fa-solid {
    display: block;
}

.heart:hover >.fa-regular {
    display: none;
}

/* Section menu */

section {
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

article {
    display: flex;
    background-color: white;
    width: 97%;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 2px 5px #0000001A;
}

section h2 {
    font-weight: 100;
    font-size: 1rem;
    border-bottom: 3px solid #99E2D0;
    width: 45px;
    padding-bottom: 4px;
    margin: 40px 0 0 0;
}

.margin-entree {
    margin-top: -15px;
}

.card-content {
    padding-left: 15px;    
}

.prix {
    font-weight: bold;
}
